$black: black;
$white: white;
$bg: lemonchiffon;
$ground: mix($white, plum, 20%);

// Greens
$green:      green;
$green-1:    forestgreen;

// Pinks
$pink: mix(pink, $white);
$pink-1: hotpink;
$pink-2: lightpink;
$pink-3: deeppink;

// Blues
$cornflower: cornflowerblue;
$lightsky: lightskyblue;
$dodger: dodgerblue;
