$black: black;
$white: white;
$bg: lemonchiffon;
$ground: mix($white, plum, 20%);

// Greens
$green:      green;
$green-1:    forestgreen;

// Pinks
$pink: mix(pink, $white);
$pink-1: hotpink;
$lightpink: lightpink;
$pink-3: deeppink;

// Blues
$cornflower: cornflowerblue;
$lightsky: lightskyblue;
$dodger: dodgerblue;
$aqua: mix(aqua, $white, 60%);
$royal: royalblue;
$navy: navy;
