.keep {
    grid-row: 7 / -2;
    grid-column: 7 / -7;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.block {
    
    grid-column: span 2;
    grid-row: 1 / span 2;
    
    &.row-1 {
        border-top-width: 47px;
        border-bottom-width: 47px;
        border-left-width: 50px;
        border-right-width: 50px;
        border-style: solid;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: $royal;
        border-right-color: $royal;
        background-color: $aqua;
    }

    &--pink {
        border-left-color: $lightpink;
        border-right-color: $lightpink;
    }

    &--light-dark {
        border-right-color: $navy;
    }

    &--dark-light {
        border-left-color: $navy;
    }

    &-3 {
        grid-column: 5 / span 2;
    }

    &-4 {
        grid-column: 7 / span 2;
    }

    &.row-2 {
        grid-row: 3 / span 2;
        // background-color: red;
    }

    &-7, 
    &-11 {
        background-color: $black;
    }

    &-8 {
        background-color: $fuschia;
    }

    &-9 {
        grid-column: 5 / span 4;
        background-color: black;
        padding-top: 10px;
        position: relative;

        &:after,
        &:before {
            content: '';
            width: 180px;
            height: 90px;
            background-color: $white;
            display: block;
            position: absolute;
            border-top-left-radius: 100px ;
            border-top-right-radius: 100px ;
            border-bottom: 0;
            border-left: 50px solid $limegreen;
            border-right: 50px solid $limegreen;
            border-top: 40px solid $limegreen;
            border-bottom: 0;
            bottom: 0;
            left: calc(50% - 90px);
        }

        &:before {
            background-color: transparent;
            z-index: 10;
            border: 10px dotted yellow;
            border-bottom: 0;
            height: 80px;
            width: 160px;
            left: calc(50% - 80px);
        }
    }

    &-10 {
        background-color: mix($aqua, $cornflower, 90%);
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: black;
            border-radius: 50%;
            border-top: 50px solid $indigo;
        }
    }

}

.block__arch {
    height: 100%;
    width: 60%;
    background-color: red;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    &--wide {
        width: 70%;
        background-color: $white;
        background-image: repeating-linear-gradient($white 0px, $white, 15px, $lightsky 15px, $lightsky 30px);
    }
}

.block__stripe {

}

.small-eye {
    grid-row: 1 / span 2;
    grid-column: 6 / span 2;
    background-color: $black;
    border: 12px solid $white;
    border-radius: 50%;
    z-index: 10;
    width: 63%;
    height: 63%;
    justify-self: center;
    align-self: center;
    position: relative;
    top: 2px;
}