@import 'colors';

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $bg;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 750px 1fr;
    grid-template-columns: 1fr 1238px 1fr;
    grid-gap: 0;
}

.ground {
    background-color: $ground;
    height: 30vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.castle {
    grid-row: 2/3;
    grid-column: 2/3;
    // background-color: red;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.castle-moat {
    background-color: $cornflower;
    grid-row: -1 / span 1;
    grid-column: 1 / -1;
    height: 30px;
    padding: 15px 50px 0;
    border-radius: 0 0 50px 50px;
}

.water {
    background-color: $lightsky;
    width: 100%;
    height: 15px;
    align-self: end;
    border-radius: 50px 50px 0 0;
}

.moss {
    background-color: green;
    grid-row: -2 / span 1;
    border-radius: 100px 100px 0 0; 
    z-index: 10;

    &--1 {
        grid-column: 1 / span 2;
    }
    &--2 {
        grid-column: 6 / span 2;
        position: relative;
        top: 30px;
        left: 10px;
        background-color: forestgreen;
    }
    &--3 {
        grid-column: 18 / span 2;
        position: relative;
        left: -15px;
        top: 5px;
        border-bottom: 5px solid $cornflower;
    }
    &--4 {
        grid-column: -3 / span 2;
        background-color: forestgreen; 
    }
    &--5 {
        grid-column: 9 / span 1;
    }
    &--6 {
        grid-column: 14 / span 1;
        position: relative;
        top: 30px;
    }

    &--sm {
        height: 50%;
        align-self: end;
    }
}

.castle-drawbridge {
    grid-column: 5 / -5;
    grid-row: -2 / span 1;
    background-color: $pink-3;
    background-image: 
        linear-gradient(-120deg, $dodger 0, $dodger 40px, $pink-1 40px, $pink-1 80px, $dodger 80px, $dodger 120px, transparent 120px, transparent),
        linear-gradient(120deg, $dodger 0, $dodger 40px, $pink-1 40px, $pink-1 80px, $dodger 80px, $dodger 120px, transparent 120px, transparent),
        linear-gradient(150deg, transparent 55%, $pink-1 55%, $pink-1),
        linear-gradient(-150deg, transparent 55%, $pink-1 55%, $pink-1);
    height: 60px;
    position: relative;
    z-index: 0;

    &:before,
    &:after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        border-top: 60px solid transparent;
        border-right: 30px solid $dodger;
        left: -30px;
        top: 0;
    }

    &:after {
        left: auto;
        right: -30px;
        border-left: 30px solid $dodger;
        border-right: 0;
    }
}

.flower {
    background-color: forestgreen;
    grid-row: -6 / span  5;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &--left {
        grid-column: 3 / span 2;
    }

    &--right {
        grid-column: -5 / span 2;
    }
}

.flower__details {
    width: 120%;
    background-color: $pink;
    padding-bottom: 120%;
    border-radius: 50%;
    position: relative;
    top: 15px;
    margin-left: -10%;
    position: relative;
}

.flower__blossom {
    width: 14px;
    height: 100%;
    background-color: $pink-2;
    position: absolute;
    border-radius: 50%;
    // border: 15px solid transparent;
    background-clip: padding-box;
    left: calc(50% - 7px);
    z-index: 10;
    
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $pink-2;
        border-radius: 50%;
        background-clip: padding-box;
        transform: rotate(0.25turn);
        position: absolute;
        display: block;
    }

    &--rotate {
        transform: rotate(0.125turn);
    }
}

.flower__stem {
    width: 8px;
    height: 100%;
    background-color: $white;
    align-self: center;
    position: relative;

    &:before, 
    &:after {
        content: '';
        width: 30px;
        height: 50px;
        background-color: $white;
        border-radius: 45%;
        display: block;
        position: absolute;
        transform: rotate(0.35turn);
        top: 20px;
        left: -33px;
    }

    &:after {
        transform: rotate(-0.35turn);
        left: 11px;
        top: 50px
    }
}

